@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  background-color: transparent;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-weight: normal;
}
.sprite {
  background-image: url("img/icons.png");
  background-repeat: no-repeat;
  background-position-x: -18px;
  width: 32px;
  height: 32px;
  display: inline-block;
}
.sprite.tasks-icon {
  background-position-y: -15.44px;
}
.sprite.buddies-icon {
  background-position-y: -76.8px;
}
.sprite.costumer-icon {
  background-position-y: -141.8px;
}
.sprite.reports-icon {
  background-position-y: -204.8px;
}
.sprite.coupons-icon {
  background-position-y: -268.8px;
}
.sprite.vouchers-icon {
  background-position-y: -334.8px;
}
.sprite.invoices-icon {
  background-position-y: -396.8px;
}
.sprite.store-icon {
  background-position-y: -461.8px;
}
.sprite.exit-icon {
  background-position-y: -1168px;
}
.sprite.search {
  background-position-y: -526.8px;
}
.sprite.search-icon {
  background-position-y: -591.8px;
}
.sprite.filter-icon {
  background-position-y: -654.8px;
}
.sprite.notification-icon {
  background-position-y: -1360px;
}
.sprite.email-icon {
  background-position-y: -720px;
}
.sprite.radius-icon {
  background-position-y: -848px;
}
.sprite.last-time-icon {
  background-position-y: -912px;
}
.sprite.last-work-icon {
  background-position-y: -976px;
}
.sprite.approved-icon {
  background-position-y: -1040px;
}
.sprite.phone-icon {
  background-position-y: -784px;
}
.sprite.close-icon-white {
  background-position-y: -1104px;
}
.sprite.buddie-icon-white {
  background-position-y: -1232px;
}
.sprite.logo-icon {
  background-position-y: -1423px;
  height: 34px;
}
.left-panel header.main {
  background-color: #1b1b1b;
  height: 64px;
  position: relative;
}
.left-panel header.main .logo-holder {
  display: block;
  padding: 16px 0 0 16px;
  float: left;
  width: 100%;
}
.left-panel header.main .logo-holder span,
.left-panel header.main .logo-holder h1 {
  float: left;
}
.left-panel header.main .logo-holder h1 {
  padding: 8px 0 0 0;
  color: white;
}
.left-panel header.main .notification-holder {
  background-color: #2c2c2c;
  position: absolute;
  left: 192px;
  top: 0;
  height: 64px;
  width: 35px;
}
.left-panel header.main .notification-holder .notification-icon {
  position: absolute;
  z-index: 11;
  margin-left: 20px;
  margin-top: 15px;
}
.left-panel header.main .notification-holder .notification-icon .counter {
  width: 24px;
  height: 24px;
  background-color: red;
  color: white;
  font-weight: bold;
  display: block;
  position: absolute;
  text-align: center;
  border-radius: 50%;
  line-height: 25px;
  bottom: -17px;
  right: -22px;
}
.left-panel header.main .notification-holder:after {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: absolute;
  background-color: #2c2c2c;
  top: 0;
  margin-left: 5px;
}
.left-panel nav.main li:hover,
.left-panel footer.main ul li:hover,
.left-panel nav.main li.active,
.left-panel footer.main ul li.active {
  background-color: #e7e7e7;
}
.left-panel nav.main li a,
.left-panel footer.main ul li a {
  padding: 16px;
  display: block;
  font-size: 14px;
  color: #767676;
  line-height: 32px;
  position: relative;
  padding-left: 56px;
  font-weight: 400;
}
.left-panel nav.main li a .sprite,
.left-panel footer.main ul li a .sprite {
  position: absolute;
  left: 16px;
  top: 16px;
}
.left-panel footer.main {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 192px;
}
.left-panel footer.main li a {
  background-color: #1b1b1b;
  color: white;
}
.small-tooltip {
  display: none;
}
.buddies-list-container {
  width: 414px;
  float: left;
  padding-top: 96px;
}
@media (max-width: 1328px) {
  .buddies-list-container {
    width: 367px;
  }
}
.buddies-list-container > ul li {
  display: -ms-grid;
  -ms-grid-template-columns: 64px 1fr;
  display: grid;
  grid-template-columns: 64px 1fr;
}
.buddies-list-container .wrapper {
  background-color: white;
  margin-left: 32px;
  height: -webkit-calc(100vh - 128px);
  height: -moz-calc(100vh - 128px);
  height: calc(100vh - 128px);
  border: 1px solid #e7e7e7;
  position: relative;
  z-index: 16;
  box-shadow: 1px 1px 8px -2px black;
  -webkit-box-shadow: 1px 1px 8px -2px black;
  -moz-box-shadow: 1px 1px 8px -2px black;
}
@media (max-width: 1328px) {
  .buddies-list-container .wrapper {
    margin-left: 16px;
  }
}
.buddies-list-container .wrapper header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #e7e7e7;
}
.buddies-list-container .wrapper header .buddie-search {
  position: relative;
}
.buddies-list-container .wrapper header .buddie-search .search {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.buddies-list-container .wrapper header .buddie-search input {
  height: 32px;
  width: calc(100% - 32px);
  padding-left: 48px;
  padding-right: 16px;
  font-size: 16px;
}
.buddies-list-container .wrapper header .filter-icon {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 16;
}
.buddies-list-container .wrapper header .filter-icon:hover + .small-tooltip {
  display: block;
}
.buddies-list-container .wrapper ul {
  margin-top: 64px;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 64px);
}
.buddies-list-container .wrapper ul li {
  width: 100%;
  float: left;
  cursor: pointer;
  padding: 16px 0 16px 16px;
}
.buddies-list-container .wrapper ul li .right-column {
  width: calc(100% - 64px);
  height: 64px;
}
.buddies-list-container .wrapper ul li .right-column .buddie-name {
  width: calc(100% - 32px);
  float: left;
  font-size: 16px;
  font-weight: 400;
  padding-left: 16px;
  line-height: 64px;
}
.buddies-list-container .wrapper ul li .right-column .status {
  width: 32px;
  float: left;
  height: 32px;
}
.buddies-list-container .wrapper ul li .right-column .status:after {
  content: " ";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #e7e7e7;
  margin-top: 32px;
  border-radius: 50%;
}
.buddies-list-container .wrapper ul li > * {
  float: left;
}
.buddies-list-container .wrapper ul li:hover {
  background-color: #e7e7e7;
}
.buddies-list-container .wrapper ul li:hover .status:after {
  background-color: white;
}
.buddies-list-container .wrapper ul li.active {
  background-color: #3b7cb3;
}
.buddies-list-container .wrapper ul li.active .status:after {
  background-color: white;
}
.buddies-list-container .wrapper ul li.active .buddie-name {
  color: white;
}
.buddie-view-container {
  position: relative;
  z-index: 15;
  padding-top: 96px;
  width: -webkit-calc(100% - 446px);
  width: -moz-calc(100% - 446px);
  width: calc(100% - 446px);
  float: right;
}
@media (max-width: 1328px) {
  .buddie-view-container {
    width: calc(100% - 368px);
  }
}
.buddie-view-container .edit {
  font-size: 16px;
  line-height: 24px;
  color: #767676;
  display: inline-block;
  margin: 16px 16px 0 0;
  float: right;
  cursor: pointer;
}
.buddie-view-container .window {
  position: relative;
}
.buddie-view-container header {
  box-shadow: 1px 1px 8px -2px black;
  -webkit-box-shadow: 1px 1px 8px -2px black;
  -moz-box-shadow: 1px 1px 8px -2px black;
}
.buddie-view-container header .buddie-icon-white {
  margin: 16px;
}
.buddie-view-container header .close-icon-white {
  float: right;
  margin: 16px;
}
.buddie-view-container .container {
  box-shadow: 1px 1px 8px -2px black;
  -webkit-box-shadow: 1px 1px 8px -2px black;
  -moz-box-shadow: 1px 1px 8px -2px black;
  padding: 16px;
  max-height: calc(100vh - 192px);
  overflow-x: hidden;
  overflow-y: auto;
  border-left: 3px solid #3b7cb3;
}
@media (max-width: 1328px) {
  .buddie-view-container .container {
    padding: 8px;
  }
}
.buddie-view-container .container > * {
  float: left;
}
.buddie-view-container .container > .left {
  width: 272px;
}
@media (max-width: 1328px) {
  .buddie-view-container .container > .left {
    width: 128px;
  }
}
.buddie-view-container .container > .left .avatar-big img {
  width: 100%;
}
.buddie-view-container .container > .left nav {
  margin-top: 16px;
}
.buddie-view-container .container > .left nav li {
  background-color: white;
  font-size: 14px;
  line-height: 32px;
  padding: 16px;
  margin-bottom: 1px;
  cursor: pointer;
  text-transform: uppercase;
}
@media (max-width: 1328px) {
  .buddie-view-container .container > .left nav li {
    padding: 8px;
  }
}
.buddie-view-container .container > .left nav li a {
  font-size: 14px;
  color: #767676;
}
@media (max-width: 1328px) {
  .buddie-view-container .container > .left nav li a {
    font-size: 12px;
  }
}
.buddie-view-container .container > .right {
  width: calc(100% - 272px);
}
@media (max-width: 1328px) {
  .buddie-view-container .container > .right {
    width: calc(100% - 128px);
  }
}
.buddie-view-container .container > .right .username {
  padding: 0 0 0 16px;
  width: 100%;
}
@media (max-width: 1328px) {
  .buddie-view-container .container > .right .username {
    padding: 0 0 0 8px;
  }
}
.buddie-view-container .container > .right .username h3 {
  background-color: white;
  width: 100%;
  padding: 16px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
@media (max-width: 1328px) {
  .buddie-view-container .container > .right .username h3 {
    padding: 8px;
  }
}
.buddie-view-container .container .details {
  width: 100%;
  overflow: hidden;
  padding-left: 16px;
}
@media (max-width: 1328px) {
  .buddie-view-container .container .details {
    padding-left: 8px;
  }
}
.buddie-view-container .container .details > div {
  width: 50%;
  float: left;
  padding: 1px 0 1px 1px;
}
@media (max-width: 1621px) {
  .buddie-view-container .container .details > div {
    width: 100%;
  }
}
.buddie-view-container .container .details > div ul {
  background-color: white;
  padding: 32px;
}
@media (max-width: 1328px) {
  .buddie-view-container .container .details > div ul {
    padding: 16px;
  }
}
.buddie-view-container .container .details > div ul li {
  height: 32px;
}
.buddie-view-container .container .details > div ul li .sprite {
  opacity: .7;
}
.buddie-view-container .container .details > div ul li span,
.buddie-view-container .container .details > div ul li a {
  display: inline-block;
  height: 32px;
  float: left;
  line-height: 33px;
  color: #1b1b1b;
  font-weight: 400;
}
.buddie-view-container .container .details > div ul li .title {
  color: #767676;
  padding-right: 8px;
  font-weight: 300;
}
.buddie-view-container .container .details > div ul li .title:after {
  content: ' :';
}
.buddie-view-container .container .tab-container {
  background-color: white;
  width: calc(100% - 16px);
  float: right;
  padding: 32px;
}
@media (max-width: 1328px) {
  .buddie-view-container .container .tab-container {
    width: calc(100% - 9px);
  }
}
.buddie-view-container .container .tab-container div {
  margin-bottom: 48px;
  border-bottom: 1px dashed #e7e7e7;
}
.buddie-view-container .container .tab-container h5 {
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  color: #767676;
}
.buddie-view-container .container .tab-container p {
  font-size: 14px;
  line-height: 28px;
  padding: 16px 0;
  font-weight: 400;
  color: #767676;
}
.buddie-view-container .window {
  max-width: 1216px;
}
.map-search {
  position: absolute;
  right: 96px;
  top: 96px;
  height: 64px;
  width: 400px;
  background-color: #e7e7e7;
  border: 1px solid lightgrey ;
  box-shadow: 1px 1px 8px -2px black;
  -webkit-box-shadow: 1px 1px 8px -2px black;
  -moz-box-shadow: 1px 1px 8px -2px black;
}
@media (max-width: 1328px) {
  .map-search {
    right: 32px;
  }
}
.map-search form {
  position: relative;
}
.map-search form .search-icon {
  margin: 16px 0 0 16px;
  position: absolute;
  left: 0;
}
.map-search form input {
  height: 64px;
  padding-left: 64px;
  font-size: 16px;
}
.map-tooltip {
  background-color: white;
  width: 400px;
  position: fixed;
  z-index: 14;
  left: 50%;
  margin-top: -160px;
  top: 50%;
  height: 128px;
  box-shadow: 1px 1px 8px -2px black;
  -webkit-box-shadow: 1px 1px 8px -2px black;
  -moz-box-shadow: 1px 1px 8px -2px black;
}
@media (max-width: 1328px) {
  .map-tooltip {
    left: auto;
    right: 32px;
  }
}
.map-tooltip header {
  padding: 16px 0 16px 16px;
}
.map-tooltip header .left {
  width: 80px;
  float: left;
}
.map-tooltip header .right {
  float: left;
  width: calc(100% - 80px);
  height: 80px;
}
.map-tooltip header .right h3 {
  font-size: 16px;
  margin-bottom: 8px;
}
.map-tooltip header .right ul li {
  margin-bottom: 8px;
  color: #767676;
}
.map-tooltip header .right ul li a {
  color: #1b1b1b;
}
.map-tooltip header .right .tasks {
  padding: 8px;
  background-color: #e7e7e7;
  float: right;
  margin-top: -12px;
}
.map-tooltip footer {
  width: 100%;
  clear: both;
  padding: 0 16px 0;
  border-top: 1px solid #e7e7e7;
  padding-top: 8px;
  color: #767676;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 12px;
}
body > section.main {
  background-image: url("img/pattern.jpg");
  width: 100%;
  height: 100vh;
}
body > section.main .left-panel {
  width: 192px;
  float: left;
}
body > section.main .body {
  width: -webkit-calc(100vw - 192px);
  width: -moz-calc(100vw - 192px);
  width: calc(100vw - 192px);
  background-image: url("images/map.jpg");
  background-position-x: -15px;
  margin-left: 192px;
  height: 100vh;
}
.none {
  display: none !important;
}
.window .wrapper {
  padding-right: 32px;
}
@media (max-width: 1328px) {
  .window .wrapper {
    padding-right: 16px;
  }
}
.window header {
  background-color: #3b7cb3;
  height: 64px;
}
.window .container {
  background-color: #e7e7e7;
}
.small-tooltip {
  position: absolute;
  z-index: 15;
  right: 0;
  top: 46px;
  background-color: white;
  border: 1px solid #e7e7e7;
}
.small-tooltip:hover {
  display: block;
}
.small-tooltip ul {
  margin-top: 0 !important;
}
.small-tooltip ul li {
  color: #767676;
}
