* {
    margin: 0;
    padding: 0;
    line-height: 1;
    background-color: transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:none;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-weight: normal;

}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

@import (reference) "styles/var";
@import  "styles/sprite";
@import  "styles/left-panel";
@import  "styles/people-list-container";
@import "styles/buddies-view";
@import  "styles/map";
@import  "styles/resposive";

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 12px;
  > section.main {
    .left-panel{
      width: 12*@unit;
      float: left;
    }
    .body{
      width: -webkit-calc(~"100vw - 192px");
      width: -moz-calc(~"100vw - 192px");
      width: calc(~"100vw - 192px");
      background-image: url("images/map.jpg");
      background-position-x: -15px ;
      margin-left: 192px;
      height: 100vh;


    }
    background-image: url("img/pattern.jpg");
    width: 100%;
    height: 100vh;


  }
}

.none{
  display: none !important;
}

.window {
  .wrapper{
    padding-right: 2*@unit;
    .less1328({
        padding-right: @unit;
    });
  }
  header{
    background-color: @blue;
    height: 4*@unit;
  }
  .container{
    background-color: @l-gray;
  }
}

.filter-holder{

}
.small-tooltip{
  position: absolute;
  z-index: 15;
  right: 0;
  top: 46px;
  background-color: white;
  border: 1px solid @l-gray;
  &:hover{
    display: block;
  }
  ul{
    margin-top: 0 !important;
    li{
      color: @d-gray;
    }
  }
}


