.buddie-view-container {
  position: relative;
  z-index: 15;
  padding-top: 96px;
  width: -webkit-calc(100% - 446px);
  width: -moz-calc(100% - 446px);
  width: calc(100% - 446px);
  float: right;
}
@media (max-width: 1328px) {
  .buddie-view-container {
    width: calc(100% - 368px);
  }
}
.buddie-view-container .edit {
  font-size: 16px;
  line-height: 24px;
  color: #767676;
  display: inline-block;
  margin: 16px 16px 0 0;
  float: right;
  cursor: pointer;
}
.buddie-view-container .window {
  position: relative;
}
.buddie-view-container header {
  box-shadow: 1px 1px 8px -2px black;
  -webkit-box-shadow: 1px 1px 8px -2px black;
  -moz-box-shadow: 1px 1px 8px -2px black;
}
.buddie-view-container header .buddie-icon-white {
  margin: 16px;
}
.buddie-view-container header .close-icon-white {
  float: right;
  margin: 16px;
}
.buddie-view-container .container {
  box-shadow: 1px 1px 8px -2px black;
  -webkit-box-shadow: 1px 1px 8px -2px black;
  -moz-box-shadow: 1px 1px 8px -2px black;
  padding: 16px;
  max-height: calc(100vh - 192px);
  overflow-x: hidden;
  overflow-y: auto;
  border-left: 3px solid #3b7cb3;
}
@media (max-width: 1328px) {
  .buddie-view-container .container {
    padding: 8px;
  }
}
.buddie-view-container .container > * {
  float: left;
}
.buddie-view-container .container > .left {
  width: 272px;
}
@media (max-width: 1328px) {
  .buddie-view-container .container > .left {
    width: 128px;
  }
}
.buddie-view-container .container > .left .avatar-big img {
  width: 100%;
}
.buddie-view-container .container > .left nav {
  margin-top: 16px;
}
.buddie-view-container .container > .left nav li {
  background-color: white;
  font-size: 14px;
  line-height: 32px;
  padding: 16px;
  margin-bottom: 1px;
  cursor: pointer;
  text-transform: uppercase;
}
@media (max-width: 1328px) {
  .buddie-view-container .container > .left nav li {
    padding: 8px;
  }
}
.buddie-view-container .container > .left nav li a {
  font-size: 14px;
  color: #767676;
}
@media (max-width: 1328px) {
  .buddie-view-container .container > .left nav li a {
    font-size: 12px;
  }
}
.buddie-view-container .container > .right {
  width: calc(100% - 272px);
}
@media (max-width: 1328px) {
  .buddie-view-container .container > .right {
    width: calc(100% - 128px);
  }
}
.buddie-view-container .container > .right .username {
  padding: 0 0 0 16px;
  width: 100%;
}
@media (max-width: 1328px) {
  .buddie-view-container .container > .right .username {
    padding: 0 0 0 8px;
  }
}
.buddie-view-container .container > .right .username h3 {
  background-color: white;
  width: 100%;
  padding: 16px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
@media (max-width: 1328px) {
  .buddie-view-container .container > .right .username h3 {
    padding: 8px;
  }
}
.buddie-view-container .container .details {
  width: 100%;
  overflow: hidden;
  padding-left: 16px;
}
@media (max-width: 1328px) {
  .buddie-view-container .container .details {
    padding-left: 8px;
  }
}
.buddie-view-container .container .details > div {
  width: 50%;
  float: left;
  padding: 1px 0 1px 1px;
}
@media (max-width: 1621px) {
  .buddie-view-container .container .details > div {
    width: 100%;
  }
}
.buddie-view-container .container .details > div ul {
  background-color: white;
  padding: 32px;
}
@media (max-width: 1328px) {
  .buddie-view-container .container .details > div ul {
    padding: 16px;
  }
}
.buddie-view-container .container .details > div ul li {
  height: 32px;
}
.buddie-view-container .container .details > div ul li .sprite {
  opacity: .7;
}
.buddie-view-container .container .details > div ul li span,
.buddie-view-container .container .details > div ul li a {
  display: inline-block;
  height: 32px;
  float: left;
  line-height: 33px;
  color: #1b1b1b;
  font-weight: 400;
}
.buddie-view-container .container .details > div ul li .title {
  color: #767676;
  padding-right: 8px;
  font-weight: 300;
}
.buddie-view-container .container .details > div ul li .title:after {
  content: ' :';
}
.buddie-view-container .container .tab-container {
  background-color: white;
  width: calc(100% - 16px);
  float: right;
  padding: 32px;
}
@media (max-width: 1328px) {
  .buddie-view-container .container .tab-container {
    width: calc(100% - 9px);
  }
}
.buddie-view-container .container .tab-container div {
  margin-bottom: 48px;
  border-bottom: 1px dashed #e7e7e7;
}
.buddie-view-container .container .tab-container h5 {
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  color: #767676;
}
.buddie-view-container .container .tab-container p {
  font-size: 14px;
  line-height: 28px;
  padding: 16px 0;
  font-weight: 400;
  color: #767676;
}
.buddie-view-container .window {
  max-width: 1216px;
}
