@import "var";
@import "resposive";
.buddie-view-container{
  position: relative;
  z-index: 15;
  padding-top: 6*@unit;
  width: -webkit-calc(~"100% - 446px");
  width: -moz-calc(~"100% - 446px");
  width: calc(~"100% - 446px");
  float: right;
  .less1328({
    width: calc(~"100% - 368px");
  });
  .edit{
    font-size: 16px;
    line-height: 24px;
    color:@d-gray;
    display: inline-block;
    margin: @unit @unit 0 0;
    float: right;
    cursor: pointer;
  }
  .window{

    position: relative;
  }
  header{
    .shadow();


    .buddie-icon-white{
      margin: @unit;
    }
    .close-icon-white{
      float: right;
      margin: @unit;
    }
  }
  .container{
    .shadow();
    padding: @unit;
    .less1328({
      padding: @unit/2;
    });
    max-height: calc(~"100vh - 192px");
    overflow-x: hidden;
    overflow-y: auto;
    border-left: 3px solid @blue;
    > *{
      float: left;
    }
    > .left{
      width: 17*@unit;
      .less1328({
        width: 8*@unit;
      });
      .avatar-big{
        img{
          width: 100%;
        }
      }
      nav{
        margin-top: @unit;
        li{
          background-color: white;
          font-size: 14px;
          line-height: 32px;
          .less1328({
            padding: @unit/2  ;
          });
          padding: @unit;
          margin-bottom: 1px;
          cursor: pointer;
          text-transform: uppercase;
          a{
            font-size: 14px;
            color: @d-gray;
            .less1328({
              font-size: 12px;
            });
          }
        }


      }
    }
    > .right{
      width: calc(~"100% - 272px");
      .less1328({
        width: calc(~"100% - 128px");
      });
      .username{
        padding: 0 0 0 @unit;
        .less1328({
          padding:0 0 0 @unit/2;
        });
        width: 100%;
        h3{
          background-color: white;
          width: 100%;
          padding: @unit;
          .less1328({
            padding: @unit/2;
          });
          font-size: 18px;
          line-height: 24px;
          font-weight: 400;
        }
      }

    }
    .details{
      width: 100%;
      overflow: hidden;
      padding-left: @unit;
      .less1328({
        padding-left: @unit/2;
      });
      > div{
        width: 50%;
        float: left;
        padding: 1px 0 1px 1px;
        .less1621({
          width:100%;
        });
        ul{
          background-color: white;
          padding: 2*@unit;
          .less1328({
            padding: @unit;
          });
          li{
            height: 2*@unit;
            .sprite{
              opacity: .7;
            }
            span, a{
              display: inline-block;
              height: 2*@unit;
              float: left;
              line-height: 33px;
              color: @black;
              font-weight: 400;
            }
            .title{
              color: @d-gray;
              padding-right: @unit/2;
              font-weight: 300;
              &:after{
                content: ' :';
              }
            }
          }
        }
      }

    }
    .tab-container{
      background-color: white;
      width: calc(~"100% - 16px");
      .less1328({
        width: calc(~"100% - 9px");
      });
      float: right;
      padding: 2*@unit;
      div{
        margin-bottom: 3*@unit;
        border-bottom: 1px dashed @l-gray;
      }
      h5{
        font-size: 16px;
        line-height: 32px;
        text-transform: uppercase;
        color: @d-gray;
      }
      p{
        font-size: 14px;
        line-height: 28px;
        padding: @unit 0;
        font-weight: 400;
        color: @d-gray;
      }
    }
  }
  .window{
    max-width: 76*@unit;
  }
}