.left-panel header.main {
  background-color: #1b1b1b;
  height: 64px;
  position: relative;
}
.left-panel header.main .logo-holder {
  display: block;
  padding: 16px 0 0 16px;
  float: left;
  width: 100%;
}
.left-panel header.main .logo-holder span,
.left-panel header.main .logo-holder h1 {
  float: left;
}
.left-panel header.main .logo-holder h1 {
  padding: 8px 0 0 0;
  color: white;
}
.left-panel header.main .notification-holder {
  background-color: #2c2c2c;
  position: absolute;
  left: 192px;
  top: 0;
  height: 64px;
  width: 35px;
}
.left-panel header.main .notification-holder .notification-icon {
  position: absolute;
  z-index: 11;
  margin-left: 20px;
  margin-top: 15px;
}
.left-panel header.main .notification-holder .notification-icon .counter {
  width: 24px;
  height: 24px;
  background-color: red;
  color: white;
  font-weight: bold;
  display: block;
  position: absolute;
  text-align: center;
  border-radius: 50%;
  line-height: 25px;
  bottom: -17px;
  right: -22px;
}
.left-panel header.main .notification-holder:after {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: absolute;
  background-color: #2c2c2c;
  top: 0;
  margin-left: 5px;
}
.left-panel nav.main li:hover,
.left-panel footer.main ul li:hover,
.left-panel nav.main li.active,
.left-panel footer.main ul li.active {
  background-color: #e7e7e7;
}
.left-panel nav.main li a,
.left-panel footer.main ul li a {
  padding: 16px;
  display: block;
  font-size: 14px;
  color: #767676;
  line-height: 32px;
  position: relative;
  padding-left: 56px;
  font-weight: 400;
}
.left-panel nav.main li a .sprite,
.left-panel footer.main ul li a .sprite {
  position: absolute;
  left: 16px;
  top: 16px;
}
.left-panel footer.main {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 192px;
}
.left-panel footer.main li a {
  background-color: #1b1b1b;
  color: white;
}
