@import "var";

.left-panel{
  header.main{
      background-color: @black;
      height: 4*@unit;
      position: relative;
    .logo-holder{
      display: block;
      padding:@unit 0 0 @unit;
      float: left;
      width: 100%;
      span, h1{
        float: left;
      }
      h1{
        padding:@unit/2 0 0 0;
        color: white;
      }
    }
    .notification-holder{
      background-color: #2c2c2c;
      position: absolute;
      left: 12*@unit;
      top:0;
      height: 4*@unit;
      width: 35px;
      .notification-icon{
        position: absolute;
        z-index: 11;
        margin-left: 20px;
        margin-top: 15px;
        .counter{
          width: 1.5*@unit;
          height: 1.5*@unit;
          background-color: red;
          color: white;
          font-weight: bold;
          display: block;
          position: absolute;
          text-align: center;
          border-radius: 50%;
          line-height: 25px;
          bottom: -17px;
          right: -22px;
        }
      }
      &:after{
        content: "";
        display: block;
        width: 4*@unit;
        height: 4*@unit;
        border-radius: 50%;
        position: absolute;
        background-color: #2c2c2c;
        top: 0;
        margin-left: 5px;
      }
    }
  }
  nav.main, footer.main ul{
    li {
      &:hover, &.active{
        background-color: @l-gray;

      }

      a{
        padding: @unit;
        display: block;
        font-size: 14px;
        color: @d-gray;
        line-height: 32px;
        position: relative;
        padding-left: 3.5*@unit;
        font-weight: 400;
        .sprite{
          position: absolute;
          left: @unit;
          top: @unit;
        }
      }
    }
  }
  footer.main{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 12*@unit;
    li a{
      background-color: @black;
      color: white;
    }
  }
}