.map-search {
  position: absolute;
  right: 96px;
  top: 96px;
  height: 64px;
  width: 400px;
  background-color: #e7e7e7;
  border: 1px solid lightgrey ;
  box-shadow: 1px 1px 8px -2px black;
  -webkit-box-shadow: 1px 1px 8px -2px black;
  -moz-box-shadow: 1px 1px 8px -2px black;
}
@media (max-width: 1328px) {
  .map-search {
    right: 32px;
  }
}
.map-search form {
  position: relative;
}
.map-search form .search-icon {
  margin: 16px 0 0 16px;
  position: absolute;
  left: 0;
}
.map-search form input {
  height: 64px;
  padding-left: 64px;
  font-size: 16px;
}
.map-tooltip {
  background-color: white;
  width: 400px;
  position: fixed;
  z-index: 14;
  left: 50%;
  margin-top: -160px;
  top: 50%;
  height: 128px;
  box-shadow: 1px 1px 8px -2px black;
  -webkit-box-shadow: 1px 1px 8px -2px black;
  -moz-box-shadow: 1px 1px 8px -2px black;
}
@media (max-width: 1328px) {
  .map-tooltip {
    left: auto;
    right: 32px;
  }
}
.map-tooltip header {
  padding: 16px 0 16px 16px;
}
.map-tooltip header .left {
  width: 80px;
  float: left;
}
.map-tooltip header .right {
  float: left;
  width: calc(100% - 80px);
  height: 80px;
}
.map-tooltip header .right h3 {
  font-size: 16px;
  margin-bottom: 8px;
}
.map-tooltip header .right ul li {
  margin-bottom: 8px;
  color: #767676;
}
.map-tooltip header .right ul li a {
  color: #1b1b1b;
}
.map-tooltip header .right .tasks {
  padding: 8px;
  background-color: #e7e7e7;
  float: right;
  margin-top: -12px;
}
.map-tooltip footer {
  width: 100%;
  clear: both;
  padding: 0 16px 0;
  border-top: 1px solid #e7e7e7;
  padding-top: 8px;
  color: #767676;
}
