@import "var";
@import "resposive";
.map-search{
  position: absolute;
  right: 6*@unit;
  .less1328({
      right: 2*@unit;
  });
  top: 6*@unit;
  height: 4*@unit;
  width: 25*@unit;
  background-color: @l-gray;
  border: 1px solid lightgrey ;
  .shadow();
  form{
    position: relative;
    .search-icon{
      margin: @unit 0 0 @unit;
      position: absolute;
      left: 0;
    }
    input{
      height: 4*@unit;
      padding-left:4*@unit ;
      font-size: 16px;
    }
  }
}
.map-tooltip{
  background-color: white;
  width: 25*@unit;
  position: fixed;
  z-index: 14;
  left: 50%;
  margin-top: -10*@unit;
  top: 50%;
  height: 8*@unit;
  .shadow();
  .less1328({
      left: auto;
      right: 2*@unit;
  });
  header{
    padding: @unit 0 @unit @unit;
    .left{
      width: 5*@unit;
      float: left;
    }
    .right{
      float: left;
      width: calc(~"100% - 80px");
      height: 5*@unit;
      h3{
        font-size: @unit;
        margin-bottom: @unit/2;
      }
      ul li{
        margin-bottom: @unit/2;
        color: @d-gray;
        a{
          color: @black;
        }
      }
      .tasks{
        padding: @unit/2;
        background-color: @l-gray;
        float: right;
        margin-top: -12px;
      }
    }
  }
  footer{
    width: 100%;
    clear: both;
    padding: 0 @unit 0;
    border-top:1px solid @l-gray;
    padding-top: @unit/2;
    color: @d-gray;
  }
}