@import (reference)"var";
@import (reference)"resposive";
.small-tooltip{
  display: none;
}

.buddies-list-container {
  width: 414px;
  float: left;
  padding-top: 6*@unit;
  .less1328({
    width: 367px;
  });
  > ul li{
    .grid-fix-auto(@unit*4);
  }
  .wrapper {
    background-color: white;
    margin-left: 2*@unit;
    .less1328({
      margin-left: @unit;
    });
    height: -webkit-calc(~"100vh - 128px");
    height: -moz-calc(~"100vh - 128px");
    height: calc(~"100vh - 128px");
    border: 1px solid @l-gray;
    position: relative;
    z-index: 16;
    .shadow();
    header {
      position: absolute;
      top: 0;
      left: 0;
      padding: @unit;
      width: 100%;
      height: 4*@unit;
      border-bottom:1px solid @l-gray;
      .buddie-search{
        position: relative;
        .search{
          display: block;
          position: absolute;
          left: 0;
          top:0;
        }
        input{
          height: 2*@unit;
          width: calc(~"100% - 32px");
          padding-left: 3*@unit;
          padding-right: @unit;
          font-size: @unit;
        }

      }
      .filter-icon{
        position: absolute;
        right: @unit;
        top: @unit;
        z-index: 16;
        &:hover + .small-tooltip{
          display: block;
        }
      }
    }
    ul{
      margin-top: 4*@unit;
      overflow-x: hidden;
      overflow-y: auto;
      height: calc(~"100% - 64px");
      li{
        width: 100%;
        float: left;
        cursor: pointer;
        padding: @unit 0 @unit @unit;

        .right-column{
          width: calc(~"100% - 64px");
          height: 4*@unit;
          .buddie-name{
            width: calc(~"100% - 32px");
            float: left;
            font-size: 16px;
            font-weight: 400;
            padding-left: @unit;
            line-height: @unit*4;
          }
          .status{
            width: @unit*2;
            float: left;
            height: @unit*2;
            &:after{
              content: " ";
              display: inline-block;
              width: @unit/2;
              height: @unit/2;
              background-color: @l-gray;
              margin-top: 2*@unit;
              border-radius: 50%;
            }

          }
        }
         > *{
           float: left;
         }

        &:hover{
          background-color: @l-gray;
          .status:after{
            background-color: white;
          }
        }
        &.active{
          background-color: @blue;
          .status:after{
            background-color: white;
          }
          .buddie-name{
            color: white;
          }
        }
      }
    }
  }
}




