.small-tooltip {
  display: none;
}
.buddies-list-container {
  width: 414px;
  float: left;
  padding-top: 96px;
}
@media (max-width: 1328px) {
  .buddies-list-container {
    width: 367px;
  }
}
.buddies-list-container > ul li {
  display: -ms-grid;
  -ms-grid-template-columns: 64px 1fr;
  display: grid;
  grid-template-columns: 64px 1fr;
}
.buddies-list-container .wrapper {
  background-color: white;
  margin-left: 32px;
  height: -webkit-calc(100vh - 128px);
  height: -moz-calc(100vh - 128px);
  height: calc(100vh - 128px);
  border: 1px solid #e7e7e7;
  position: relative;
  z-index: 16;
  box-shadow: 1px 1px 8px -2px black;
  -webkit-box-shadow: 1px 1px 8px -2px black;
  -moz-box-shadow: 1px 1px 8px -2px black;
}
@media (max-width: 1328px) {
  .buddies-list-container .wrapper {
    margin-left: 16px;
  }
}
.buddies-list-container .wrapper header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #e7e7e7;
}
.buddies-list-container .wrapper header .buddie-search {
  position: relative;
}
.buddies-list-container .wrapper header .buddie-search .search {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.buddies-list-container .wrapper header .buddie-search input {
  height: 32px;
  width: calc(100% - 32px);
  padding-left: 48px;
  padding-right: 16px;
  font-size: 16px;
}
.buddies-list-container .wrapper header .filter-icon {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 16;
}
.buddies-list-container .wrapper header .filter-icon:hover + .small-tooltip {
  display: block;
}
.buddies-list-container .wrapper ul {
  margin-top: 64px;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 64px);
}
.buddies-list-container .wrapper ul li {
  width: 100%;
  float: left;
  cursor: pointer;
  padding: 16px 0 16px 16px;
}
.buddies-list-container .wrapper ul li .right-column {
  width: calc(100% - 64px);
  height: 64px;
}
.buddies-list-container .wrapper ul li .right-column .buddie-name {
  width: calc(100% - 32px);
  float: left;
  font-size: 16px;
  font-weight: 400;
  padding-left: 16px;
  line-height: 64px;
}
.buddies-list-container .wrapper ul li .right-column .status {
  width: 32px;
  float: left;
  height: 32px;
}
.buddies-list-container .wrapper ul li .right-column .status:after {
  content: " ";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #e7e7e7;
  margin-top: 32px;
  border-radius: 50%;
}
.buddies-list-container .wrapper ul li > * {
  float: left;
}
.buddies-list-container .wrapper ul li:hover {
  background-color: #e7e7e7;
}
.buddies-list-container .wrapper ul li:hover .status:after {
  background-color: white;
}
.buddies-list-container .wrapper ul li.active {
  background-color: #3b7cb3;
}
.buddies-list-container .wrapper ul li.active .status:after {
  background-color: white;
}
.buddies-list-container .wrapper ul li.active .buddie-name {
  color: white;
}
