.mobile( @rules, @max: 920px) {
  @media   (max-width: @max) {
    @rules();
  }
}

.less1621( @rules, @max: 1621px) {
  @media   (max-width: @max) {
    @rules();
  }
}

.less1328( @rules, @max: 1328px) {
  @media   (max-width: @max) {
    @rules();
  }
}