.sprite {
  background-image: url("img/icons.png");
  background-repeat: no-repeat;
  background-position-x: -18px;
  width: 32px;
  height: 32px;
  display: inline-block;
}
.sprite.tasks-icon {
  background-position-y: -15.44px;
}
.sprite.buddies-icon {
  background-position-y: -76.8px;
}
.sprite.costumer-icon {
  background-position-y: -141.8px;
}
.sprite.reports-icon {
  background-position-y: -204.8px;
}
.sprite.coupons-icon {
  background-position-y: -268.8px;
}
.sprite.vouchers-icon {
  background-position-y: -334.8px;
}
.sprite.invoices-icon {
  background-position-y: -396.8px;
}
.sprite.store-icon {
  background-position-y: -461.8px;
}
.sprite.exit-icon {
  background-position-y: -1168px;
}
.sprite.search {
  background-position-y: -526.8px;
}
.sprite.search-icon {
  background-position-y: -591.8px;
}
.sprite.filter-icon {
  background-position-y: -654.8px;
}
.sprite.notification-icon {
  background-position-y: -1360px;
}
.sprite.email-icon {
  background-position-y: -720px;
}
.sprite.radius-icon {
  background-position-y: -848px;
}
.sprite.last-time-icon {
  background-position-y: -912px;
}
.sprite.last-work-icon {
  background-position-y: -976px;
}
.sprite.approved-icon {
  background-position-y: -1040px;
}
.sprite.phone-icon {
  background-position-y: -784px;
}
.sprite.close-icon-white {
  background-position-y: -1104px;
}
.sprite.buddie-icon-white {
  background-position-y: -1232px;
}
.sprite.logo-icon {
  background-position-y: -1423px;
  height: 34px;
}
