@import "var";
.sprite{

  background-image: url("img/icons.png");
  background-repeat: no-repeat;
  background-position-x: -18px;
  width: 2*@unit;
  height: 2*@unit;
  display: inline-block;

  &.tasks-icon{
    background-position-y: -15.44px ;
  }
  &.buddies-icon{
    background-position-y: -76.8px ;
  }
  &.costumer-icon{
    background-position-y: -141.8px ;

  }
  &.reports-icon{
    background-position-y: -204.8px ;

  }
  &.coupons-icon{
    background-position-y: -268.8px ;

  }
  &.vouchers-icon{
    background-position-y: -334.8px ;

  }
  &.invoices-icon{
    background-position-y: -396.8px ;

  }
  &.store-icon{
    background-position-y: -461.8px ;

  }
  &.exit-icon{
    background-position-y: -1168px ;
  }
  &.search{
    background-position-y: -526.8px ;
  }
&.search-icon{
    background-position-y: -591.8px ;
  }
&.filter-icon{
    background-position-y: -654.8px;
  }
  &.notification-icon{
    background-position-y: -1360px;
  }
  &.email-icon{
    background-position-y: -720px;
  }
  &.radius-icon{
    background-position-y: -848px;
  }
  &.last-time-icon{
    background-position-y: -912px;
  }
  &.last-work-icon{
    background-position-y: -976px;
  }
  &.approved-icon{
    background-position-y: -1040px;
  }
  &.phone-icon{
    background-position-y: -784px;
  }
  &.close-icon-white{
    background-position-y: -1104px;
  }
 &.buddie-icon-white{
    background-position-y: -1232px;
  }


&.logo-icon{
    background-position-y: -1423px;
  height: 34px;
  }

}