@unit:16px;

@blue:#3b7cb3;
@black: #1b1b1b;
@l-gray:#e7e7e7;
@grey:#bebebe;
@d-gray:#767676;





.grid-fix-auto(@fr){
  display:-ms-grid;
  -ms-grid-template-columns: @fr 1fr;
  display:grid;
  grid-template-columns: @fr 1fr;
}

.transe(@prop:all, @time:.4s){
  transition: @prop ease .2s;
  -webkit-transition: @prop ease .2s;
  -moz-transition: @prop ease .2s;
}


.calc-height(@var){
  height: -webkit-calc(@var);
  height: -moz-calc(@var);
  height: calc(@var);
}

.shadow(){
  box-shadow: 1px 1px 8px -2px black;
  -webkit-box-shadow: 1px 1px 8px -2px black;
  -moz-box-shadow: 1px 1px 8px -2px black;
}